In [2]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
print(os.listdir('../input'))

['.ipynb_checkpoints', 'Cancer Alison_Data Wrangling 1.ipynb', 'Cancer Alison_Data Wrangling 2.ipynb', 'Cancer Alison_Data Wrangling 3.ipynb', 'Cancer.csv', 'CancerCombinedFile.xlsx', 'CancerCombinedFile3.xlsx', 'Cancer_Occurrence.csv', 'State.csv', '~$CancerCombinedFile3.xlsx']

In [4]:
Cancer = pd.read_excel('../input/CancerCombinedFile3.xlsx')
Cancer.head()

,Cancer_id,Name,Category,State_name,Race_name,Count,Percentage population below poverty,Percentage population insured,Population
0,27010,Cervix Uteri,Female Genital System,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747
1,27010,Cervix Uteri,Female Genital System,Alabama,Black or African American,77,18.4,89.2,4874747
2,27010,Cervix Uteri,Female Genital System,Alabama,White,152,18.4,89.2,4874747
3,27020,Corpus Uteri,Female Genital System,Alabama,American Indian or Alaska Native,0,18.4,89.2,4874747
4,27020,Corpus Uteri,Female Genital System,Alabama,Black or African American,154,18.4,89.2,4874747

In [5]:
Cancer.tail()

,Cancer_id,Name,Category,State_name,Race_name,Count,Percentage population below poverty,Percentage population insured,Population
1070,27060,Vulva,Female Genital System,Wyoming,Other Races and Unknown combined,0,11.6,86.6,579315
1071,27070,Other Female Genital Organs,Female Genital System,Wyoming,American Indian or Alaska Native,0,11.6,86.6,579315
1072,27070,Other Female Genital Organs,Female Genital System,Wyoming,Asian or Pacific Islander,0,11.6,86.6,579315
1073,27070,Other Female Genital Organs,Female Genital System,Wyoming,Black or African American,0,11.6,86.6,579315
1074,27070,Other Female Genital Organs,Female Genital System,Wyoming,Other Races and Unknown combined,0,11.6,86.6,579315

In [6]:
len(Cancer)
Cancer.shape
# (1075 rows, 9 columns)

(1075, 9)

In [7]:
Cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1075 entries, 0 to 1074
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Cancer_id                            1075 non-null   int64
 1   Name                                 1075 non-null   object
 2   Category                             1075 non-null   object
 3   State_name                           1075 non-null   object
 4   Race_name                            1075 non-null   object
 5   Count                                1075 non-null   int64
 6   Percentage population below poverty  1075 non-null   float64
 7   Percentage population insured        1075 non-null   float64
 8   Population                           1075 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 75.7+ KB

In [8]:
Cancer.Category.unique()

array(['Female Genital System'], dtype=object)

In [9]:
Cancer.Race_name.unique()

array(['American Indian or Alaska Native', 'Black or African American',
       'White', 'Other Races and Unknown combined',
       'Asian or Pacific Islander'], dtype=object)

In [10]:
Cancer.describe()

,Cancer_id,Count,Percentage population below poverty,Percentage population insured,Population
count,1075.000000,1075.000000,1075.000000,1075.000000,1.075000e+03
mean,27041.172093,88.060465,14.432279,90.787814,6.433182e+06
std,19.731040,293.190088,3.116940,3.452202,7.513128e+06
min,27010.000000,0.000000,8.500000,81.400000,5.793150e+05
25%,27020.000000,0.000000,11.600000,88.500000,1.427538e+06
50%,27040.000000,0.000000,14.000000,90.600000,4.142776e+06
75%,27060.000000,49.000000,16.700000,93.300000,7.405743e+06
max,27070.000000,4430.000000,22.300000,97.000000,3.953665e+07