# Load Libraries

In [10]:
library("rcompanion")
library("car")
library("effects")
library("multcomp")

ERROR: Error in library("rcompanion"): there is no package called 'rcompanion'

In [11]:
install.package("rcompanion")

ERROR: Error in install.package("rcompanion"): could not find function "install.package"

In [5]:
install.packages("rcompanion", repos = "http://lib.stat.cmu.edu/R/CRAN/")

Warning message:
"package 'rcompanion' is not available (for R version 3.6.1)"

# Print List Directory

In [12]:
View(os.listdir('../input'))

ERROR: Error in View(os.listdir("../input")): 'View()' not yet supported in the Jupyter R kernel

# Load Merged and Condensed Category File

In [3]:
Cancer = pd.read_excel('../input/CancerCombinedFile3.xlsx')
Cancer.head()

ERROR: Error in pd.read_excel("../input/CancerCombinedFile3.xlsx"): could not find function "pd.read_excel"

# See shape of the data 
### (n of columns and rows)

In [5]:
len(Cancer)
Cancer.shape
# (1075 rows, 9 columns)

(1075, 9)

# Confirm Unique Variables per Object (String) Variables

In [6]:
Cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1075 entries, 0 to 1074
Data columns (total 9 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Cancer_id                            1075 non-null   int64
 1   Name                                 1075 non-null   object
 2   Category                             1075 non-null   object
 3   State_name                           1075 non-null   object
 4   Race_name                            1075 non-null   object
 5   Count                                1075 non-null   int64
 6   Percentage population below poverty  1075 non-null   float64
 7   Percentage population insured        1075 non-null   float64
 8   Population                           1075 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 75.7+ KB

In [7]:
Cancer.Name.unique()

array(['Cervix Uteri', 'Corpus Uteri', 'Uterus, NOS', 'Ovary', 'Vagina',
       'Vulva', 'Other Female Genital Organs'], dtype=object)

In [8]:
Cancer.Category.unique()

array(['Female Genital System'], dtype=object)

In [9]:
Cancer.State_name.unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [10]:
Cancer.Race_name.unique()

array(['American Indian or Alaska Native', 'Black or African American',
       'White', 'Other Races and Unknown combined',
       'Asian or Pacific Islander'], dtype=object)

# View statisical data on Numeric Variables

In [11]:
Cancer.describe()

,Cancer_id,Count,Percentage population below poverty,Percentage population insured,Population
count,1075.000000,1075.000000,1075.000000,1075.000000,1.075000e+03
mean,27041.172093,88.060465,14.432279,90.787814,6.433182e+06
std,19.731040,293.190088,3.116940,3.452202,7.513128e+06
min,27010.000000,0.000000,8.500000,81.400000,5.793150e+05
25%,27020.000000,0.000000,11.600000,88.500000,1.427538e+06
50%,27040.000000,0.000000,14.000000,90.600000,4.142776e+06
75%,27060.000000,49.000000,16.700000,93.300000,7.405743e+06
max,27070.000000,4430.000000,22.300000,97.000000,3.953665e+07